.presentation {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    width: 70%;
    align-items: flex-start;
    
    & .sectionBorder {
        width: 100%;
    }
    
    & .presentationElements {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        margin-left: 1.5rem;
        
        & .presentationTitle{
            font-size: 2rem;
        }
        & .presentationItems{
            display: flex;
            flex-direction: column;
            row-gap: 2rem;
    
            & .presentationText{
                
            }
            & a{
                align-self: flex-end;
            }
        }
    }

}