@use '../mixin';
.mediaComponent {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    // background: var(--color3);
    padding: 2rem;
    border-radius: .7rem;
    align-self: start;
    max-width: 22rem;
    
    & .mediaComponent-imageSection{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
        align-self: center;
        
        & img{
            border-radius: .8rem;
            width: 5rem;
            cursor:pointer;
            border:solid .15rem var(--color3);
            padding: .2rem;
            @include mixin.transition(.15s);

            @media (hover:hover){
                &:hover{
                    filter: brightness(.7);
                }
            }
            &:active{
                transform: scale(.97);
            }
        }
    }
    & .mediaComponent-videoSection{

        & .mediaComponent-video{

            & p{
                color: var(--color2);
                font-style: italic;
                font-size: .8rem;
                text-align: center;
            }
        }
    }

    &.mediaComponent-smallScreen{
        align-self: center;
    }
}