.header{
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    @include transition(.1s);

    &.header-mobile {
        flex-direction: column;
        row-gap: 3rem;

        & .menuBar {
            margin-right: 0rem;
        }
    }
}