.header{
    display: flex;
    flex-direction: column;
    @include transition(.1s);
    row-gap: 2rem;
    
    & .header-topSection{
        @include transition(.1s);
        margin: 0rem 2rem;
        display: flex;
        flex-grow: 1;
        justify-content:space-between;
    }

    &.header-mobile {

        & .header-topSection{
            flex-direction: column;
            row-gap: 3rem;
            margin: 0 1rem;
        }

        & .menuBar {
            margin-right: 0rem;
        }
    }
}