@use '../../mixin';
.title {
    display: flex;
    cursor: pointer;
    @include mixin.transition(.15s);

    @media (hover:hover){
        &:hover{
            transform: scale(1.05) translateX(1.5rem);
        }
    }
    &:active{
        transform: scale(1.07) translateX(1.6rem);
    }
    
    & h1 {
        font-size: 5rem;
        font-weight: 700;
    }
    
    &.title-mobile{
        align-self: center;

        & h1 {font-size: 3rem;}
    }
}