@use '../../../mixin';
.menuBarItem{
    display: flex;
    position: relative;
    @include mixin.transition(.15s);
    
    & .menuBarItem-buttonWithText{
        cursor: pointer;
        padding: .2rem 1.3rem;
        border-radius: 3rem;
        @include mixin.hoverLink3;
        white-space: nowrap;
    }
    
    & .menuBarItem-dotPoint{
        position: absolute;
        width: .3rem;
        height: .3rem;
        border-radius: 3rem;
        background: var(--color2);
        top: 140%;
        left: 50%;
    }
    & .menuBarItem-buttonWithIcon {
        padding: .5rem;
        border-radius: 3rem;
        cursor: pointer;
        background: var(--color3);
        @include mixin.itemDescriptionOnHover;
        @include mixin.transition(.15s);

        @media (hover:hover){
            &:hover > span{
                transform: translate(-14rem, 2.7rem) scale(1);
            }
        }
        &:active > span{
            transform: translate(-14rem, 2.7rem) scale(1);
        }

        & > span{
            background: var(--color2);
            border-radius: 3rem 0 3rem 3rem;
            padding: .2rem .7rem;
            font-size: .8rem;
            font-weight: 400;
            color: var(--color1);
            box-shadow: var(--borderShadow5);
            inline-size: max-content;
            transform: translate(-50%,0) scale(.1);
            @include mixin.transition(.15s);
        }

        & img{
            width: 1rem;
        }
    }
    
    &.menuBarItem-mobile{
        
        & .menuBarItem-dotPoint{
            top: 120%;
            left: 50%;
        }

        & .menuBarItem-button{
            padding: .2rem 1rem;
        }
        & .menuBarItem-buttonWithIcon {
            // background: var(--color3);
            background: red;
        }
        &.menuBarItem-selected{
            background: var(--color3);
            border-radius: 3rem;
        }
    }
}