.menuBarElement{
    display: flex;
    position: relative;
    cursor: pointer;
    padding: 0 .5rem;
    @include transition(.15s);
    @include hoverLink(.4rem);
    
    & .menuBarElement-dotPoint{
        position: absolute;
        width: .3rem;
        height: .3rem;
        border-radius: 3rem;
        background: var(--color2);
        top: 140%;
        left: 50%;
    }
    & .buttonWithIcon {
        display: flex;
    }
}

@keyframes zoomBounce_showUp {
    0%{
        transform: scale(.1);
    }
    100%{
        transform: scale(1);  
    }
}