.menuBar {
    @include transition(.2s);
    display: flex;
    align-self: center;
    column-gap: 1.8rem;
    align-items: center;

    .menuBar-mobile {
        flex-direction: column;
        row-gap: 1rem;
    }
}