.menuBar {
    @include transition(.2s);
    display: flex;
    // flex-direction: column;
    // row-gap: 2rem;
    align-self: center;
    margin-right: 2rem;
    column-gap: 1rem;
    
    // & .menuBarElementsSection {
    //     display: flex;
    // }
}