.menuBarSettings{
    @include transition(.2s);
    position: absolute;
    padding: 0rem 1rem;
    border-left: var(--border2);
    display: none;
    flex-direction: column;
    width: 10rem;
    transform: translate(-50%, -50%);
    top: 400%;
    left: 50%;

}
.menuBarSettings-visible{
    display: flex;
}