@use '../../../mixin';
.menuBarItem{
    display: flex;
    position: relative;
    @include mixin.transition(.15s);
    
    & .menuBarItem-buttonWithText{
        cursor: pointer;
        padding: .2rem 1.3rem;
        border-radius: 3rem;
        @include mixin.hoverLink3;
        white-space: nowrap;
    }
    
    & .menuBarItem-dotPoint{
        position: absolute;
        width: .3rem;
        height: .3rem;
        border-radius: 3rem;
        background: var(--color2);
        top: 140%;
        left: 50%;
    }
    & .menuBarItem-buttonWithIcon {
        padding: .5rem;
        border-radius: 3rem;
        cursor: pointer;
        background: var(--color3);
        @include mixin.transition(.15s);

        &:active{
            scale: .93;
        }

        & img{
            width: 1rem;
        }
    }
    
    &.menuBarItem-mobile{
        
        & .menuBarItem-dotPoint{
            top: 120%;
            left: 50%;
        }

        & .menuBarItem-button{
            padding: .2rem 1rem;
        }
        & .menuBarItem-buttonWithIcon {
            // background: var(--color3);
        }
        &.menuBarItem-selected{
            background: var(--color3);
            border-radius: 3rem;
        }
    }
}