.menuBarItem{
    display: flex;
    position: relative;
    @include transition(.15s);
    // @include hoverLink(.4rem);
    
    & .menuBarItem-button{
        cursor: pointer;
        padding: .2rem 1.3rem;
        border-radius: 3rem;
        @include hoverLink3;
    }
    
    & .menuBarItem-dotPoint{
        position: absolute;
        width: .3rem;
        height: .3rem;
        border-radius: 3rem;
        background: var(--color2);
        top: 140%;
        left: 50%;
    }
    & .buttonWithIcon {
        padding: .5rem;
        border-radius: 3rem;
    }
    
    &.menuBarItem-mobile{
        
        & .menuBarItem-dotPoint{
            top: 40%;
            left: -5%;
        }

        & .menuBarItem-button{
            // background: var(--color3);
            padding: .2rem 1rem;
        }
        & .buttonWithIcon {
            background: var(--color3);
            
        }
    }
}