body {
    font-family: "Poppins", sans-serif, Arial, Helvetica, sans-serif;
    margin: 0;
    background: var(--color1);
    font-size: 1rem;
    color: var(--color2);
    font-weight: 300;
}
--root {
    @include transition(.15s);
}

a {
    text-decoration: none;
    color: var(--color2);
    // @include transition(.1s);

    // &:hover {
    //     box-shadow: var(--borderShadow2);
    // }
}

img {
    max-width: 10rem;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
}

li {
    margin: 1rem;
    list-style: none;
}
p {
    margin: 0;
}


h1{
    font-size: 3rem;
    margin: 0;
}
h2{
    font-size: 2rem;
    margin: 0;
}
h3{
    font-size: 1.2rem;
    margin: 0;
}

button{
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
}
.divider{
    border-bottom: var(--border1);
}
.sectionBorder {
    border-top:var(--border3);
}