@use './variables';
@use './mixin';
@use './globalRules';
// @use './app';
@use './mediaQueries';

    // pages
    // @use './pages/home';
    @use './pages/contact';
    // @use './pages/projects';
    @use './pages/pageComponent';

    // components
    // @use './components/bottomSection/footerSocialLinks';
    // @use './components/mediaComponent';
    // @use './components/imageWrapper';

        // fallbackComponents
        @use './components/fallbackComponents/fallbackComponent';

        // header
        // @use './components/header/header';
        // @use './components/header/title';
            
            // menuBar
            // @use './components/header/MenuBar/menuBar';
            // @use './components/header/MenuBar/menuBarItem';
            @use './components/header/MenuBar/menuBarSettings';
            // @use './components/header/MenuBar/menuBarSettingsItem';

        // footer
        // @use './components/bottomSection/footer';

        // post
        // @use './components/post/postContainer';
        // @use './components/post/tag';
        // @use './components/post/postTopSection';
        // @use './components/post/postContentSection';
        // @use './components/post/postFilterComponent';