@media (prefers-color-scheme: dark) {
    .buttonWithIcon > img {filter: invert(1);}
}

@media (max-width: 700px) {
    body{
        // font-size: 1.05rem;
    }
    h2{
        font-size:1.7rem;
    }
}