@mixin transition($time){
    transition: $time ease-in-out 0s;
}

// global underline behaviour
@mixin hoverLink ($paddingHeight){
    @include transition(.15s);

    &:hover{
        padding-bottom: $paddingHeight;
        box-shadow: var(--borderShadow2);
    }
}
@mixin hoverLink2{
    @include transition(.15s);

    &:hover{
        transform: scale(1.05);
    }
    &:active{
        transform: scale(1);
    }
}