:root {
    --color1: #3d3d3d;
    --color2: #f1f1f1;
    --color3: #5c5c5c;

    --border1:.02rem solid var(--color2);
    --border2:.05rem solid var(--color2);
    --border3:.08rem solid var(--color2);
    --borderShadow1:0rem .02rem 0rem 0rem var(--color2);
    --borderShadow2:0rem .05rem 0rem 0rem var(--color2);
    --borderShadow3:0rem .08rem 0rem 0rem var(--color2);
    --borderShadow4:0rem 0rem 0rem .1rem var(--color3);
}

// light mode
@media (prefers-color-scheme: light) {
    :root {
        --color1: #f1f1f1;
        --color2: #3d3d3d;
    }
}

// dark mode
@media (prefers-color-scheme: dark) {
    :root {
        --color1: #3d3d3d;
        --color2: #f1f1f1;
    }
}