:root {
    --color1: #484848;
    --color2: #f1f1f1;
    --color3: #f1f1f110;

    --border1:.02rem solid var(--color2);
    --border2:.05rem solid var(--color2);
    --border3:.08rem solid var(--color2);
    --border4:.2rem solid var(--color3);
    --borderShadow1:0rem .02rem 0rem 0rem var(--color2);
    --borderShadow2:0rem .05rem 0rem 0rem var(--color2);
    --borderShadow3:0rem .08rem 0rem 0rem var(--color2);
    --borderShadow4:0rem 0rem 0rem .1rem var(--color3);
    --borderShadow5:0rem 0rem 0rem .2rem var(--color3);
}

// light mode
@media (prefers-color-scheme: light) {
    :root {
        --color1: #f1f1f1;
        --color2: #484848;
        --color3: #48484810;
    }
}

// dark mode
@media (prefers-color-scheme: dark) {
    :root {
        --color1: #2d2d2d;
        --color2: #f1f1f1;
        --color3: #f1f1f110;
    }
}