@use './mixin';
.contact {
    display: flex;
    width: 100%;
    justify-content: center;
    @include transition(.1s);
    
    & .contactItems{
        display: flex;
        flex-direction: column;
        background: var(--color3);
        align-self: center;
        padding: 4rem;
        border-radius: 1rem;
        font-weight: 600;
        margin-top: 3rem;
        @include transition(.1s);
        
        & .buttonWithIcon {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            row-gap: 3rem;
            
            & img {
                width: 17rem;
            }
        }
    }

    &.contact-mobile{
        
        & .buttonWithIcon {
            
            & img {
                width: 100%;
            }
        }
    }
}