.contact {
    @include transition(.1s);
    display: flex;
    width: 100%;
    justify-content: center;
    
    & .contactItems{
        @include transition(.1s);
        display: flex;
        align-items: center;
        flex-direction: column;
        background: var(--color3);
        align-self: center;
        padding: 3rem;
        row-gap: 3rem;
        border-radius: 1rem;
        font-weight: 600;
        margin-top: 3rem;
        
        & img {
            width: 17rem;
        }
    }

}