.projects {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    row-gap: 4rem;
    
    & .projects-titleSection {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        align-self: flex-end;

        & .projects-border {
            border-top: solid .1rem var(--color2);
        }
    }

}