.projects {
    display: flex;
    flex-direction: row;
    @include transition(.1s);
    gap: 3rem;
    
    & .projectItems{
        display: flex;
        flex-direction: column;
        row-gap: 3rem;
        // flex-grow: 1;
        flex: 3;
    }
    
    &.projects-smallerScreen{
        flex-direction: column-reverse;
    }
}