// default style
.postContainer{
    display: flex;
    width: 75%;
}

// style for projects page
.postContainer-project{
    border-radius: 1.5rem;
    padding: 1.5rem;
    background: var(--color3);
    flex-direction: column;
    row-gap: 1.5rem;
}

// style for mobile
.postContainer-mobile{
    width: unset;
    row-gap: 3rem;
}