.postTopSection {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    & .buttonWithIcon {
        display: flex;
        align-items: center;
        column-gap: 1rem;
        background: var(--color3);
        align-self: flex-start;
        padding: .3rem 1.5rem;
        border-radius: 3rem;
        padding-left: .4rem;

        & img {
            width: 1.5rem;
            border-radius: 5rem;
            filter: invert(0) !important;
        }
        & p {
            font-size: .9rem;
        }
    }
    .postSectionTop-title{
        display: flex;
        align-items: center;
        column-gap: 1rem;
    }
    & .postTopSection-tags{
        display: flex;
        gap: .8rem .6rem;
        flex-wrap: wrap;
    }
}
.postTopSection-mobile{
    row-gap: 2rem;

    & .postSectionTop-title{
        flex-direction: column;

        h3 {white-space: nowrap;}
    }
}