.postContentSection{
    display: flex;
    column-gap: 2rem;

    & .postContentSection-medias{
        flex: 1;
    }
    & .postContentSection-text{
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        flex: 2;

        & a {
            align-self: flex-end;
        }
    }
}
.postContentSection-mobile{
    flex-direction: column;
    row-gap: 2rem;
}