.postContentSection{
    display: flex;
    column-gap: 2rem;
    @include transition(.1s);

    & .postContentSection-medias{
        flex: 1;
    }
    & .postContentSection-description{
        display: flex;
        flex-direction: column;
        flex: 2;
        row-gap: 2rem;

        & .postContentSection-text{
            display: flex;
            flex-direction: column;
            row-gap: .7rem;
        }
        & .postContentSection-keyPoints{
            display: flex;
            flex-direction: column;
            font-size: .9rem;
            font-weight: 400;
        }
        & .postContentSection-links{
            display: flex;
            align-self: flex-end;
            gap: 1rem;
            flex-wrap: wrap;
            justify-content: flex-end;
        }
    }

    &.postContentSection-smallerScreen{
        flex-direction: column;
        row-gap: 2rem;

        & .postContentSection-medias{
            display: flex;
            justify-content: center;
        }
    }
}
.postContentSection-presentation{
    & .postContentSection-description{
        row-gap: 5rem;
    }
}